In [ ]:
from MypseudoSQL import Table

"""
create table users
"""
users = Table(["id", "name", "friends"])
users

In [ ]:
"""INSERT INTO

insert into users (user_id, name, num_friends) values (0, "Hero", 0);
"""
users.insert([0, "Hero", 0])
users.insert([1, "Dunn", 2])
users.insert([2, "Sue", 3])
users.insert([3, "Chi", 3])
users.insert([4, "Thor", 3])
users.insert([5, "Clive", 2])
users.insert([6, "Hicks", 3])
users.insert([7, "Devin", 2])
users.insert([8, "Kate", 2])
users.insert([9, "Klein", 3])
users.insert([10, "Jen", 1])
users

In [ ]:
"""UPDATE

update users
set num_friends = 10
where name = Chi;
"""
users.update({"friends": 10}, lambda row: row["name"] == "Chi")
users

In [ ]:
"""SELECT

select name, friends from users;
"""
s1 = users.select(keep_columns=["name", "friends"])
s1

In [ ]:
"""SELECT

select name, length(name) as name_length 
from users;
"""
s2 = users.select(keep_columns=["name"], 
                 additional_columns={"name_length": lambda row: len(row["name"])})
s2

In [ ]:
"""LIMIT

select * from users limit 5;
"""
lim = users.limit(5)
lim

In [ ]:
"""WHERE

select * from users 
where friends > 2;
"""
w1 = users.where(lambda row: row["friends"] > 2)
w1

In [ ]:
"""ORDER BY

select * from users
order by friends;
"""
o1 = users.order_by(lambda row: -row["friends"])
o1

In [ ]:
# create another table interests
interests = Table(["id", "interest"])
interests.insert([0, "SQL"])
interests.insert([0, "NoSQL"])
interests.insert([2, "SQL"])
interests.insert([2, "MySQL"])
interests.insert([3, "Java"])
interests.insert([3, "Python"])
interests.insert([4, "Flask"])
interests.insert([4, "JavaScripts"])
interests.insert([6, "Shell"])
interests.insert([6, "Python"])
interests.insert([8, "Java"])
interests.insert([8, "Spring"])
interests.insert([9, "NoSQL"])
interests.insert([10, "Python"])

In [ ]:
"""JOIN

select * from users
join interests
on users.user_id =interests.user_id
"""
j1 = users.join(interests)
j1

In [ ]:
"""Subqueries

select users.friends, interests.interest
from users
join interests on id
where interests.interest = Python;
"""

sub = users.join(interests).select(["friends", "interest"]).where(lambda row: row["interest"] == "Python")
sub

In [ ]:
"""export to csv"""
sub.to_csv("pseudoBD.csv")